<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name=Gas-db content="width=device-width, initial-scale=1.0">
        <title>Gas-DB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style5.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='Bilder/icon.ico') }}">
    </head>
    <body>
        <h1>Gas-DB</h1>

        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('test') }}">Daten</a>
            <a href="{{ url_for('picture') }}">Bilder</a>
            <a href="{{ url_for('impressum') }}">Impressum</a>
            <a href="{{ url_for('links') }}">Links</a>
            <div class="animation start-contact"></div>

        </nav>

        <br></br>

        <p>
            Die Drohne gibt es :<a href="https://www.reichelt.de/de/de/holybro-x500-v2-kit-drohnenbausatz-x500-kit-v2-p324607.html">Hier</a>
        </p>
        
        <p>Die Sensoren gibt es hier:
            <a href="#">MiCS-6814</a>
            <a href="#">MQ-9</a>
            <a href="#">SHT-31_DIS</a>
            <a href="#">VEML-6075</a>
        </p>
    </body>
</html>