<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name=Gas-db content="width=device-width, initial-scale=1.0">
        <title>Gas-DB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='Bilder/icon.ico') }}">
    </head>
    <body>
        <h1>Gas-DB</h1>

        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('data') }}">Daten</a>
            <a href="{{ url_for('picture') }}">Bilder</a>
            <a href="{{ url_for('impressum') }}">Impressum</a>
            <a href="{{ url_for('links') }}">Links</a>
            <div class="animation start-portefolio"></div>
        </nav>

        <h2>
            Wer hat diese Webseite erstellt ?
        </h2>

        <p> 
            Diese Webseite wurde am 19 . 11 . 23 bei Jugend hackt von Yannik, Julian, Tobias, Marco und Jan erstellt .
        </p>
        <h2>Ansprechpartner</h2>
        <p>E-Mail: marcoemil@t-online.de</p>
        <a id="Email-link" href="mailto:marcoemil@t-online.de">Sende eine E-Mail</a>


    </body>
</html>