<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=Gas-db content="width=device-width, initial-scale=1.0">
    <title>Gas-DB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Bilder/icon.ico') }}">
</head>
<body>
    <h1>Gas-DB</h1>

    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('test') }}">Daten</a>
        <a href="{{ url_for('picture') }}">Bilder</a>
        <a href="{{ url_for('impressum') }}">Impressum</a>
        <a href="{{ url_for('links') }}">Links</a>
        <div class="animation start-home"></div>
    </nav>

    <br></br>

    <a1>
        Die Idee ist es,
        mit einer Drohne Umweltdaten zu sammeln
        und in eine öffentliche Datenbank einzuspeisen.
        Dort werden sie auch visualisiert.
    </a1>

</body>
</html>
