<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Daten-Graph</title>
        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style5.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='Bilder/icon.ico') }}">
    </head>

    <body>
        <h1>Daten Graphen</h1>

        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('test') }}">Daten</a>
            <a href="{{ url_for('picture') }}">Bilder</a>
            <a href="{{ url_for('impressum') }}">Impressum</a>
            <a href="{{ url_for('links') }}">Links</a>
            <div class="animation start-about"></div>
        </nav>
        <h1>Auto Abgase</h1>
        <canvas id="pollutantsChart" width="400" height="200"></canvas>
        <h1>Gas Konzentration</h1>
        <canvas id="gplLpgChart" width="400" height="200"></canvas>
        <h1>Luftfeuchtigkeit/Temperatur</h1>
        <canvas id="tempPercentageChart" width="400" height="200"></canvas>
        <h1>UV-Strahlung</h1>
        <canvas id="uvaUvbChart" width="400" height="200"></canvas>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Extract data from Flask template variable
                var data = {{ table_data | tojson | safe }};

                // Prepare data for the pollutants chart
                var pollutantsLabels = data.map(function (entry) {
                    return entry.date;
                });

                var pollutantsValues = [
                    {
                        label: 'CO',
                        data: data.map(function (entry) {
                            return entry.CO;
                        }),
                        fill: false,
                        borderColor: getRandomColor(),
                        borderWidth: 1
                    },
                    {
                        label: 'NO2',
                        data: data.map(function (entry) {
                            return entry.NO2;
                        }),
                        fill: false,
                        borderColor: getRandomColor(),
                        borderWidth: 1
                    },
                    {
                        label: 'C2H5OH',
                        data: data.map(function (entry) {
                            return entry.C2H5OH;
                        }),
                        fill: false,
                        borderColor: getRandomColor(),
                        borderWidth: 1
                    },
                    {
                        label: 'H2',
                        data: data.map(function (entry) {
                            return entry.H2;
                        }),
                        fill: false,
                        borderColor: getRandomColor(),
                        borderWidth: 1
                    },
                    {
                        label: 'NH3',
                        data: data.map(function (entry) {
                            return entry.NH3;
                        }),
                        fill: false,
                        borderColor: getRandomColor(),
                        borderWidth: 1
                    },
                    {
                        label: 'CH4',
                        data: data.map(function (entry) {
                            return entry.CH4;
                        }),
                        fill: false,
                        borderColor: getRandomColor(),
                        borderWidth: 1
                    },
                    {
                        label: 'C3H8',
                        data: data.map(function (entry) {
                            return entry.C3H8;
                        }),
                        fill: false,
                        borderColor: getRandomColor(),
                        borderWidth: 1
                    },
                    {
                        label: 'C4H10',
                        data: data.map(function (entry) {
                            return entry.C4H10;
                        }),
                        fill: false,
                        borderColor: getRandomColor(),
                        borderWidth: 1
                    }
                ];

                // Prepare data for the GPL and LPG chart
                var gplLpgLabels = data.map(function (entry) {
                    return entry.date;
                });

                var gplLpgValues = [
                    {
                        label: 'GPL',
                        data: data.map(function (entry) {
                            return entry.GPL;
                        }),
                        fill: false,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'LPG',
                        data: data.map(function (entry) {
                            return entry.LPG;
                        }),
                        fill: false,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }
                ];

                // Prepare data for the temp and percentage chart
                var tempPercentageLabels = data.map(function (entry) {
                    return entry.date;
                });

                var tempPercentageValues = [
                    {
                        label: 'TEMP',
                        data: data.map(function (entry) {
                            return entry.TEMP;
                        }),
                        fill: false,
                        borderColor: getRandomColor(),
                        borderWidth: 1
                    },
                    {
                        label: '%',
                        data: data.map(function (entry) {
                            return entry['%'];
                        }),
                        fill: false,
                        borderColor: getRandomColor(),
                        borderWidth: 1
                    }
                ];

                // Prepare data for the UVA and UVB chart
                var uvaUvbLabels = data.map(function (entry) {
                    return entry.date;
                });

                var uvaUvbValues = [
                    {
                        label: 'UVA',
                        data: data.map(function (entry) {
                            return entry.UVA;
                        }),
                        fill: false,
                        borderColor: 'rgba(255, 165, 0, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'UVB',
                        data: data.map(function (entry) {
                            return entry.UVB;
                        }),
                        fill: false,
                        borderColor: 'rgba(255, 255, 0, 1)',
                        borderWidth: 1
                    }
                ];

                // Create Pollutants Chart
                var pollutantsChart = new Chart(document.getElementById('pollutantsChart').getContext('2d'), {
                    type: 'line',
                    data: {
                        labels: pollutantsLabels,
                        datasets: pollutantsValues
                    },
                });

                // Create GPL and LPG Chart
                var gplLpgChart = new Chart(document.getElementById('gplLpgChart').getContext('2d'), {
                    type: 'line',
                    data: {
                        labels: gplLpgLabels,
                        datasets: gplLpgValues
                    },
                });

                // Create Temp and Percentage Chart
                var tempPercentageChart = new Chart(document.getElementById('tempPercentageChart').getContext('2d'), {
                    type: 'line',
                    data: {
                        labels: tempPercentageLabels,
                        datasets: tempPercentageValues
                    },
                });

                // Create UVA and UVB Chart
                var uvaUvbChart = new Chart(document.getElementById('uvaUvbChart').getContext('2d'), {
                    type: 'line',
                    data: {
                        labels: uvaUvbLabels,
                        datasets: uvaUvbValues
                    },
                });

                // Function to generate random color
                function getRandomColor() {
                    var letters = '0123456789ABCDEF';
                    var color = '#';
                    for (var i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    return color;
                }
            });
        </script>
    </body>
</html>
